* {
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: rgb(246, 246, 246);
}
.cont{
  background-color: rgb(230, 230, 230);
  margin-top: 30px;
  
}
.bt{
  margin-bottom: 20px;
}
.hed{
  background-color: rgb(236, 236, 236);
  padding: 10px 10px;
  margin-top: 5px;
  
}